@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form-grupo{
    width: 50%;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.form-grupo label{
    font-size: 18px;
    font-weight: 800;
}

.form-grupo input{
    box-shadow:10px 10px 30px rgba(0,0,0,0);
    background-color:#FFF;
    border: none;
    
}

.meu_label{
    font-family: "Montserrat", serif;
    font-weight: 700;
}