@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.titulo{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top:33px;
}

#campo_nome{
    width: 930px;
    height: 80px;
}

.form-container{
    display: flex;
    justify-content: center;
}

.card_colaborador{
    background-color:#F6F6F6;
    border-radius: 20px;
}
